<div class="dashboard">
  <div class="dashboardBoxWrapper">
    <div class="dashboardBox">
      <h1 class="dashboardBox__title">Balance</h1>
      <span class="dashboardBox__value"><%= number_to_currency(@balance, precision: 0) %></span>
    </div>

    <div class="dashboardBox">
      <h1 class="dashboardBox__title">Dépenses</h1>
      <span class="dashboardBox__value"><%= number_to_currency(@expense_sum, precision: 0) %></span>
    </div>

    <div class="dashboardBox">
      <h1 class="dashboardBox__title">Revenus</h1>
      <span class="dashboardBox__value"><%= number_to_currency(@income_sum, precision: 0) %></span>
    </div>

    <div class="dashboardBox">
      <h1 class="dashboardBox__title">Catégorie de dépenses</h1>
      <span class="dashboardBox__value"><%= @expense_category_count %></span>
    </div>       
  </div>

  <div class="graphBoxWrapper">
    <div class="graphBox">            
      <h1 class="graphBox__title">Revenus / Dépenses</h1>
      <div class="graphBox__chart">
        <canvas id="myChart1"></canvas>
      </div>
    </div>   

    <div class="graphBox">
      <h1 class="graphBox__title">Répartition des catégories de dépenses</h1>
      <div class="graphBox__chart">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  var ctx1 = document.getElementById("myChart1");
  var myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
      labels: ["Dépenses", "Revenus"],
      datasets: [{
        data: [<%= @expense_sum.floor %>, <%= @income_sum.floor %>],
        backgroundColor: [
          '#2C3E50',
          '#3498DB',
        ],
        borderColor: [
          '#2C3E50',
          '#3498DB'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true
    }
  });

  var ctx2 = document.getElementById("myChart2");
  var myChart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: [
        <% @expense_categories.each do |category|  %>
          "<%= category.name %>",
        <% end %>
      ],
      datasets: [{
        data: [
          <% @expense_categories.each do |category|  %>
            <%= category.expenses.sum(:amount) %>,
          <% end %>
        ],
        backgroundColor: [
          '#2C3E50',
          '#3498DB',
          '#B0CEFF',
          '#849BBF',
        ],
        borderColor: [
          '#2C3E50',
          '#3498DB',
          '#B0CEFF',
          '#849BBF',
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      legend: {

      }
    }
  });
</script>