<div class="listHeader">
  <h1 class="listHeader__title">Catégories de dépenses</h1>    
  <a class="listHeader__btn" href="#">
    +
  </a>    
</div>
<div class="listTable">
  <%= render "table" %>
</div>

<div class="popup">
  <%= form_with url: expense_categories_path, id: "newExpenseCategoryForm", remote: true do |form| %>
    <div class="popup__content">
      <div class="popup__header">
        <h1>Ajouter une dépense</h1>
      </div>
      <div class="popup__form">
          <div class="popup__field">
            <%= form.label :name, "Nom" %>
            <%= form.text_field :name %>
          </div>              
      </div>
      <div class="popup__footer">
        <%= form.submit 'Ajouter', class: "popup__saveBtn"%>

        <div class="popup__cancelBtn">
          Annuler
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.listHeader__btn').click(function (event) {
    event.preventDefault();
    $('.popup').addClass('--active');
  });

  $('.popup__cancelBtn').click(function (event) {
    $('.popup').removeClass('--active');
  })

  $('.popup').click(function (event) {
    if (event.target.classList.contains('popup')) {
      $('.popup').removeClass('--active');
    }
  });
</script>