<div class="loginWrapper">
  <div class="loginBox">
    <div class="loginBoxHeader">
      Budget App
    </div>

    <div class="loginForm">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="loginField">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="loginField">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: "6" %>
        </div>

        <div class="loginField">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, minlength: "6" %>
        </div>

        <div class="loginLinks">
          <%= render "devise/shared/links" %>
        </div>

        <%= f.submit "Register", :class => "loginBtn" %>
      <% end %>
    </div>
  </div>
</div>
