<div class="popupEdit">
  <%= form_with model: @income, id: "editIncomeForm", remote: true do |form| %>
    <div class="popup__content">
      <div class="popup__header">
        <h1>Édition d'un revenu</h1>
      </div>
      <div class="popup__form">

        <div class="popup__field">
          <%= form.label :name, "Nom" %>
          <%= form.text_field :name, required: true  %>
        </div>
        
        <div class="popup__field">
          <%= form.label :amount, "Montant" %>
          <%= form.number_field :amount, required: true %>
        </div>

      </div>
      <div class="popup__footer">
        <%= form.submit 'Enregistrer', class: "popup__saveBtn"%>

        <div class="popup__cancelBtn">
          Annuler
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  $('.popup__cancelBtn').click(function (event) {
    $('.popupEdit').removeClass('--active');
  });
</script>