<table class="">
  <thead>
    <tr class="listTable__header">
      <th style="width: 350px;">Nom</th>
      <th style="width: 400px;">Montant</th>
      <th style="width: 400px;">Catégorie</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <th><%= expense.name %></th>
      <th><%= expense.amount %>$</th>
      <th><%= expense.expense_category.name if expense.expense_category.present? %></th>
      <th>
        <%= link_to edit_expense_path(expense.id), remote: true, style: "text-decoration: none;" do %>
          <i class="icon icon-ic_launch_48px listTable__edit"></i>
        <% end %>
        <%= link_to expense_path(expense.id), method: :delete, remote: true, data: { confirm: 'Êtes-vous certain?' } do %>
          <i class="icon icon-ic_delete_forever_48px listTable__delete"></i></a>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
  
</table>