<div class="listHeader">
  <h1 class="listHeader__title">Dépenses</h1>    
  <a class="listHeader__btn" href="#">
    +
  </a>    
</div>
<div class="listTable">
  <%= render "table" %>
</div>

<div class="popup">
  <%= form_with model: @new_expense, id: "newExpenseForm", remote: true do |form| %>
    <div class="popup__content">
      <div class="popup__header">
        <h1>Ajouter une dépense</h1>
      </div>
      <div class="popup__form">

        <div class="popup__field">
          <%= form.label :name, "Nom" %>
          <%= form.text_field :name, required: true  %>
        </div>
        
        <div class="popup__field">
          <%= form.label :amount, "Montant" %>
          <%= form.number_field :amount, required: true, step: 0.01 %>
        </div>

        <div class="popup__field">
          <label for="amount">Catégorie</label>
          <%= form.select :expense_category_id, options_for_select(@expense_categories.map { |category| [category.name, category.id]}), { include_blank: "Veuillez choisir une catégorie" }, required: true %>
        </div>


      </div>
      <div class="popup__footer">
        <%= form.submit 'Ajouter', class: "popup__saveBtn"%>

        <div class="popup__cancelBtn">
          Annuler
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="popupEdit">
</div>

<script>
  $('.listHeader__btn').click(function (event) {
    event.preventDefault();
    $('.popup').addClass('--active');
  });

  $('.popup__cancelBtn').click(function (event) {
    $('.popup').removeClass('--active');
  })

  $('.popup').click(function (event) {
    if (event.target.classList.contains('popup')) {
      $('.popup').removeClass('--active');
    }
  });
  
  $('.popupEdit').click(function (event) {
    if (event.target.classList.contains('popupEdit')) {
      $('.popupEdit').removeClass('--active');
    }
  });
</script>